//_largecreen.scss

// large screens
@media only screen and (min-width: 64.063em) {


.videoWrap{
  text-align: left;
}

.quoteWrap{
  width: 90%;
  margin-left: 0;
}

.rightButtons{
  flex-wrap:nowrap;
}


  } /* min-width 641px, medium screens */
