
/*Style.scss*/

@import 'bootstrap/_bootstrap.scss';



/* variables
---------------------------------------------------------- */

$headerBgStart:#061B4D;
$headerBgEnd: #283D7A ;
$contentRightBg:#DFDEE2;
$contentRightTextColor:#071C4F;
$quoteBg:#DFDEE1;

$btnStart:#ffe787;
$btnEnd:#ffdb4b;
$btnFontColor:#071C4D;




/*--- Font Variables--*/

$bodyFamily:arial, san-serif;
$blueLikeColor:#6D88C8;


/* sitewide
---------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}


.rowLg{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
  .row{
    max-width: calc(1000px);
    margin: auto;
  }
}

.clearfix:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.section:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.section:before,
.wrap:after {
	clear: both;
	content: " ";
	display: table;	
}

img{
  max-width: 100%;
}

.cb{
  clear: both;
}


.right{
  float: right;
}

.left{
  float: left;
}

body {
	background: #ffffff;
	color: #111111;
	font-size: 18px;
	font-family: $bodyFamily;
	text-align: left;
	margin:auto;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

/*----Header---*/
.headerBg{
  background: linear-gradient($headerBgStart, $headerBgEnd);
    padding-top: 3%;
  padding-bottom: 1%;
  //padding-left: 5%;
  //padding-right: 5%;
}

.headerInner{
  display: flex;
  justify-content:center;

}

.logo{
  
}
.book{
  margin-left: 5%
}


/*-------- Content Sections -----*/
.contentWrap{
    width: 90%;
  margin: auto;
  padding-top: 2%;
  max-width: 1200px;
}

/*----Content Left ----*/

.videoWrap{
  text-align: center;
}

.quoteWrap{
  position: relative;
  background-color: $quoteBg;
   margin-top: 4%;
   width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.quote{
  width: 90%;
  margin:auto;
  padding-top: 3%;
  padding-bottom: 10%;

  font-size: 19px;
  line-height: 22px;


  &:before, {
    content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: -15px;
  left: 5%;
  border-bottom: calc(15px) solid #DFDEE1;
  border-left-width: calc(15px);
  border-right-width: calc(15px);
    
    }
}

.socialWrap{
  padding-top:30px;
}

.blueLike{
color:$blueLikeColor;
}

.fbButtons{
  width: 40%;
  display: flex;
  align-items:flex-end;

  img{
    max-height: 21px;
  } 
}

.fbLike{
  margin-right: 5px;
}

.fbShareWrap{
  margin-bottom: 3px;
}

.fbComments{
  padding-top: 5px;
}


/*--- Content Right--*/
.contentRight{
  background-color: $contentRightBg;
  color:$contentRightTextColor;
  border-radius: 5px;

  p{
    color:$contentRightTextColor;
    font-size: 20px;

  }
  h1{
     color:$contentRightTextColor;
    font-size: 22px;
    font-weight: 700;
  }
}
.rightCentering{
  width: 90%;
  margin:auto;
  padding-top: 20px;
}

.rightButtons{
  margin-bottom: 10%;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

.kindleBtnWrap{
  max-width: 300px;

}

.nookBtnWrap{
  max-width: 300px;

}

.contentRightList{
  padding-left: 0px;
}
.giftsBtnWrap{
  margin:50px auto 50px auto;
  text-align: center;
}
.giftsBtn{
  background: linear-gradient($btnStart,$btnEnd);
  color:$btnFontColor;
  font-family: Tahoma, san-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: #8E8E8E 2px 2px 1px 0px;
  border-radius: 5px;
  display: inline-block;
  
  &:hover{
    text-decoration: none;
  }

}

.noSpam{
  
  font-size: 15px !important;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}


/*-----footer------*/
.footerBg{
  background: linear-gradient($headerBgStart, $headerBgEnd);
    padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 70px;
  

  p{
    color:#ffffff;
  }

}

.footerInner{
  display: flex;
  justify-content:center;
  width: 90%;
  margin: auto;

}
.bird{
  height: 50px;
  margin-right: 10px;
}

/*Style.scss*/

@import 'mediumscreen';
@import 'largescreen';
@import 'XLargecreen'